# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.backup
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
keys/
.env
*.pem
*.key

# Docker
*.log
*.dockerignore

# IDE/editor
.vscode/
.idea/
*.swp