name: 'Build and Deploy to GKE'

on:
  push:
    branches:
      - main  # Trigger only on pushes to main branch

env:
  PROJECT_ID: 'my-project'  # TODO: your GCP project ID
  GAR_LOCATION: 'us-central1'  # TODO: your region
  GKE_CLUSTER: 'cluster-1'  # TODO: your GKE cluster name
  GKE_ZONE: 'us-central1-c'  # TODO: your GKE zone
  DEPLOYMENT_NAME: 'weather-dashboard'  # TODO: deployment name
  REPOSITORY: 'weather-app'  # Artifact Registry repo
  IMAGE: 'weather-image'
  WORKLOAD_IDENTITY_PROVIDER: 'projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider'  # TODO: update

jobs:
  setup-build-publish-deploy:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Docker Auth
        uses: docker/login-action@v3
        with:
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.auth_token }}
          registry: ${{ env.GAR_LOCATION }}-docker.pkg.dev

      - name: Set up GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}

      - name: Build and push Docker container
        run: |
          DOCKER_TAG="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}:${GITHUB_SHA}"
          docker build --tag "$DOCKER_TAG" .
          docker push "$DOCKER_TAG"

      - name: Set up Kustomize
        run: |
          curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv5.4.3/kustomize_v5.4.3_linux_amd64.tar.gz
          chmod +x ./kustomize

      - name: Deploy to GKE
        run: |
          ./kustomize edit set image LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY/IMAGE:TAG=$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:$GITHUB_SHA
          ./kustomize build . | kubectl apply -f -
          kubectl rollout status deployment/$DEPLOYMENT_NAME
          kubectl get services -o wide
